/********** Base styles **********/
* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}
h1 {
    margin: 15px;
    text-align: center;
     color: #10113D;
    font-family: sans-serif;
}

.food-name{
    position: relative;
    float: right;
    background-color: #184EC2;
    border: 1px solid #10113D;
    color: white;
    padding: 5px 10px 5px 10px;
    font-family: sans-serif;
}
.food-description{
    clear: both;    
    background-color: #6F93D7;
    color: #10113D;
    padding: 15px;
    font-family: sans-serif;

}

/* Simple Responsive Framework. */
.row {
    width: 100%; 
    display: flex;
    flex-wrap: wrap;
}

/**********DEFAULT Small Device********/
.col-sm-12{
    float:left;
    width: 90%;
    background-color: #9278F1;
    border: 1px solid #10113D;
    margin: 5%; 
}

/********** Large devices only **********/
@media (min-width: 992px) {
   .col-lg-4 {
    float: left;
    border: 1px solid #10113D;
    flex-grow: 1;
    background-color: #9278F1;
    margin: 1.66%; 
    width: 30.01%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
   .col-md-6 {
    float: left;
    border: 1px solid #10113D;
    flex-grow: 1;
    background-color: #9278F1;
    width: 45%;
    margin: 2.5%; 
  }  
}

